$color-lila:rgb(210, 121, 210);

.footer{
    background-color: black;
    height: 50px;
    width: 100%;
    position: absolute;
    top: 190%;
    
}
.icon{
    color: white;
    padding: 20px;
    &:hover{
        color: $color-lila;
    }
   }

.tresiconos{
    position: relative;
    float: right;
    top: 10px;
}

#footerdesign{
    top: 175%;
}

#footerpasos{
    top: 170%;
}
#footercontacto{
    top: 200%;
}
