.container-fluid{
    background-color: black;
}
.logo{
    width: 70px;
}
.titulo{
    color: rgb(210, 121, 210);
}
.nav-item{
    a{
        color: white;
    }
    a:hover{
        color: rgb(226, 83, 226);
    }
}
