.body{
    margin: 0%;
    padding: 0%;
    border: 0px;
}
@import "navbar.scss";
@import "sectionsindex";
@import "contactanos.scss";
@import "footer.scss";
@import "indexmobile.scss";
@import "sectionsdesign";
@import "designmobile";
@import "sectionspasos";
@import "pasosmobile";
@import "sectionscasos";
@import "casosmobile";
@import "sectionscontacto";
@import "contactomobile";